@*@model IEnumerable<ScriptLib.Models.ValidationStepsModel>*@
@model ScriptLib.Models.ValidationStepsTrackingModel

@{
    ViewData["Title"] = "Existing Procedure Name";
}

<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("Task Activity Name", "Index", new { sortOrder = ViewBag.TaskActivityName_Sort, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    <label class="control-label">Category Name</label>
                    @*@Html.ActionLink("Category Name", "Index", new { sortOrder = ViewBag.CategoryName_Sort, currentFilter = ViewBag.CurrentFilter })*@
                </th>
                <th>
                    <label class="control-label">Complexiety Name</label>
                </th>
                <th>
                    <label class="control-label">Existing Procedure Name</label>
                </th>
                @*<th>  <label class="control-label">Action</label></th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ValidationStepsList)
            {
                <tr>
                    <td>
                        <a class="card-link" data-toggle="collapse" href="#collapseOne_@item.TaskActivityId" onclick="myFunction(@item.TaskActivityId)">
                            @Html.DisplayFor(modelItem => item.TaskActivityName)
                        </a>                       
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ComplexietyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExistingProcedureName)
                    </td>
                </tr>               
                <tr>
                    <td colspan="6" class="hiddenRow">
                        <div id="collapseOne_@item.TaskActivityId" class="collapse">
                            <div id="Scriptdiv_@item.TaskActivityId" class="divScriptList">
                                Loading ...
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



<input type="hidden" id="hiddenTaskActivityId" />


<script>
    $(document).ready(function () {
        $(".modelEdit").click(function () {
            $.ajax({
                url: '/ValidationSteps/GetValidationSteps',
                datatype: "json",
                data: { Id: $(this).data('id') },
                type: "post",
                contenttype: 'application/json; charset=utf-8',
                async: true,
                success: function (data) {
                    $('#myModal').modal('show');
                    $("#divShow").html(data);
                },
                error: function (xhr) {
                    alert('error');
                }
            });
        });


        $(".modelDelete").click(function () {
            $("#hiddenVTaskActivityId").val($(this).data('id'));
            $('#myModalDelete').modal('show');
        });

    });

    function myFunction(TaskActivityId) {
        //  alert(TaskActivityId);

        // debugger;

        $("#hiddenTaskActivityId").val(TaskActivityId);

        $.ajax({
            url: '/ValidationStepsTracking/GetValidationScript_ByValidationStepsID',
            datatype: "json",
            data: { Id: TaskActivityId },
            type: "post",
            contenttype: 'application/json; charset=utf-8',
            async: true,
            success: function (data) {

                //alert("TaskActivityId  == " + $("#hiddenTaskActivityId").val());

                $("#Scriptdiv_" + $("#hiddenTaskActivityId").val()).html(data);
            },
            error: function (xhr) {
                alert('error');
            }
        });
    }

    function Delete() {
        $.ajax({
            url: '/ValidationSteps/Delete',
            datatype: "json",
            data: { Id: $("#hiddenVTaskActivityId").val() },
            type: "post",
            contenttype: 'application/json; charset=utf-8',
            async: true,
            success: function (data) {
                location.reload();
            },
            error: function (xhr) {
                alert('error');
            }
        });
    }

</script>

